%main-button {
    width: 4rem;
    object-fit: contain;
    cursor: pointer;
    margin: 1rem;

    &:hover {
        transform: scale(1.2);
    }
}

%close-button {
    @extend %main-button;
    width: 2rem;
}