@use '../../partial/placeholders' as *;

.arcade {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/images/arcadebg.jpg');
    background-size: 100% 100%;
    position: relative;

    &__leader {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &__leader {
        @extend %main-button;
    }

    &__nogo {
        position:absolute;
        bottom:0.5rem;
        right:0.5rem;
        color: #090925;
        cursor:inherit;

        &:hover {
            color: white;
        }
    }
}