.arcade {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/images/arcadebg.jpg');
    background-size: 100% 100%;
    position: relative;

    &__frame {
        display: block;
        margin: 0 auto;
        height: 180%;
        position: relative;
        z-index: 2;
    }

    &__imgs {
        width: 25rem;
        height: 18.75rem;
        position:absolute;
        background-color: black;
        top: calc(50% - calc(10rem/2));
        left: calc(50% - calc(24rem/2));
        overflow-x: scroll;
        display: flex;
        align-items: center;
        // z-index: 3;
    }

    &__img {
        width: 16rem;
        height: 16rem;
        flex-grow: 1;
        margin-left: 5rem;
        margin-right: 5rem;
    }
}