@use '../../partial/placeholders' as *;

.arcade {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../../assets/images/arcadebg.jpg');
    background-size: 100% 100%;
    position: relative;

    &__data {
        position: absolute;
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        background-color: rgba(papayawhip, 0.6);
        height: 100vh;
        width: 30rem;
        padding: 3rem 1rem;
        top: 0;
        left: 0;
        z-index: 5;
        transform: translateX(-30rem);
        transition: all 0.5s ease;
    }

    &__leader {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &__leader {
        @extend %main-button;
    }


    &__frame {
        display: block;
        margin: 0 auto;
        height: 84rem;
        // width: 42.5rem;
        position: relative;
        z-index: 2;
    }

    &__imgs {
        width: 25rem;
        height: 18.75rem;
        position:absolute;
        background-color: black;
        top: 18.75rem;
        left: calc(50% - calc(24.2rem/2));
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        // z-index: 3;
    }

    &__img {
        width: 70%;
        opacity: 0.7;
    }

    &__buttons {
        $width: 30rem;

        width: $width;
        height: 6rem;
        position: absolute;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        top: 37.5rem;
        left: calc(50% - calc($width/2));
    }

    &__button {
        height: 2.3rem;
        width: 2.3rem;
        border-radius: 50%;
        margin-left: 1.4rem;
        margin-right: 2.3rem;
        flex-shrink: 0;
        cursor: pointer;

        &--start {
            margin-right: 0.8rem;
            align-self: flex-start;
        }
    }
}