@use '../../partial/placeholders' as *;

.gamepage {
    background-image: url('../../assets/images/gamepagebg.webp');
    background-size: cover;
    display: flex;
    height: 100vh;
    overflow: hidden;

    &__buttons {
        display: flex;
        flex-direction: column;
        height: 9.5rem;
        justify-content: space-between;
        position:relative;
    }

    &__invisiblecheck {
        display: none;

        &:checked + .instructions {
            transform: translateX(0);
        }
    }

    &__button {
        @extend %main-button;


    }

    #phaser-game{
        flex-grow: 1;
    }

    canvas {
        border-radius: 10px;
        border: 20px inset black;
    }
}
